$defaultWidth: 100%;
$defaultHeight: 100%;
$defaultFontWeight: 800;
$defaultFontFamily: 'Montserrat', 'sans-serif';
$secondFontFamily: 'Open Sans', 'sans-serif';
$defaultColor: #ffffff;
$defaultDisplay: flex;
$defaultAlignItems: center;
$defaultContainerMargin: 0 auto;
$defaultFlexDirection: column;
$defaultPositionContainer: relative;
$defaultPosition: absolute;
